body {
    background-color: skyblue;
    
}

.center {
    position: absolute;
    margin-top: -230px;
    margin-left: -276px;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 220px;
    background-color: brown;
}

th {
	background-color: #0099cc;
	font-family:Calibri;
	font-size:24px;
	}
	
.table1 {
	background-color:#0099CC;
	border-color:#CC0066;
	}
	
.table2 {
	background-color: aqua;
	
	}
	
#text {
	font-family:Calibri;
	font-size:20px;
	color:#000033;
	}